#tombola{
    position: absolute;
    height: 80%;
    width: 60%;
    background-color:rgb(219,18,38);
    text-align: center;
}

#lista{
    position: absolute;
    top:0px;
    left:60%;
    height:40%; 
    width:40%;
    background-color:rgb(219,18,38);
    border:solid;
    text-align:center;
    border-color:black;
    border-width:5px;
}

#modalidad{
    position:absolute;
    top:40%;
    left:60%;
    height:60%; 
    width:40%;
    background-color:rgb(219,18,38);
    border:solid;
    border-color:black;
    border-width:5px;

}

#base{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image:url('b.png');
    width: 100%;
    height: 100%;
    background-color: rgb(219,18,38);  
}

#contenedorboton{
    position:absolute;
    top:80%;
    height: 20%;
    width: 60%;
    background-color: rgb(219,18,38);
}

nav ol{
    height:360px;
    width:100%;
    font-size:60px;
    top:0%;
}

nav ol{
    overflow:hidden; 
    overflow-y:scroll;
    align-content: center;
}

nav ul{
    height:260px;
    width:100%;
    font-size:60px;
    font-family:Impact;
    top:0%;
}

nav ul{
    overflow:hidden; 
    overflow-y:scroll;
    align-content: center;
}

#navlistdiv{
    position:absolute;
    left:0%;
    width:100%;
    height:10%;
}

#Sorteo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1250%;
    top: 25%;
}

#divlogos1{
    position: absolute;
    top: 5%;
    left: 35%;
}

#logo1{
    position: absolute;
}

#divlogos2{
    position:absolute;
    left: 20%;
    height: 60%;
}

#logo2{
    position: absolute;    
    height: 15%;
    top: 55%;
}

#boton{
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    background-color:#9c9c9c;
    font-size: 450%;
    border:solid;
    text-align:center;
    border-color:black;
    border-width:5px;
    color:white;    
}

.botonModalidadF1{
    
    background-color:#9c9c9c;
    border:solid;
    text-align:center;
    border-color:black;
    border-width:3px;
    color:white;
}


#tablaModalidad{
    width: 100%;
}

ul{  
    background-color:rgb(219,18,38);
}

.box img{
  width: 70%;
  height: auto;
}

#numero{
    color:white;
}

.redondo1{
    width: 100%;
    font-size: 340%;
    border-radius: 400px 400px 400px 400px;
    -moz-border-radius: 400px 400px 400px 400px;
    -webkit-border-radius: 400px 400px 400px 400px;
    border: 4px solid #000000;
    background-color:black;
    color: white;
}

.redondo{
    width: 100%;
    font-size: 340%;
    border-radius: 4000px 400px 400px 400px;
    -moz-border-radius: 400px 400px 400px 400px;
    -webkit-border-radius: 400px 400px 400px 400px;
    border: 4px solid #000000;
    background-color:#FFFFFF;
}

#carton{
    position:absolute;
    height: 100%;
    width: 100%;
}